@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    font-size: 14px;
}

body {
    background-color: rgb(226, 221, 221);

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.container .form-content {
    background-color: white;
    width: 40%;

    padding: 20px 15px;
}

.container .form-content h1 {
    text-align: center;
    color: crimson;
    font-size: 40px;
}

.container .form-content form .input-group {
    width: 80%;
    margin: 30px auto;
}

.form-content form .input-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;

}

.form-content form .input-group .form-control {
    width: 100%;
    padding: 10px 5px;
    background-color: rgb(241, 237, 237);
    border: none;
    font-size: 18px;
}

.container form .input-group .form-control:focus {
    outline: none;
}

.form-content form p {
    width: 80%;
    margin: 5px auto;
    font-size: 14px;

}

.form-content form p span {
    color: crimson;

}

.form-content form button {
    width: 80%;
    height: 40px;
    font-size: 18px;
    border: none;
    display: block;
    margin: 20px auto;
    background-color: crimson;
    color: white;
}

/* Second form */

.container .second-form-content {
    width: 40%;
    background-color: white;
    padding: 15px;
}

.container .second-form-content h2 {
    text-align: center;
    font-size: 40px;
}

.container .second-form-content .second-input-group {
    margin-top: 15px;
}

.container .second-form-content .second-input-group label {
    display: block;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 5px;
}

.container .second-form-content .second-input-group .second-input-control {
    padding: 10px 8px;
    width: 100%;

}

.container .second-form-content form button {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 20px;
    margin: 20px auto;
    background: linear-gradient(to right, rgb(14, 45, 182), rgb(7, 21, 83), rgb(1, 18, 75));
    color: white;
}

.second-form-content form p {
    text-align: center;
}

/* Third form */
.container .third-form-content {
    background-color: white;
    width: 40%;
    padding: 15px;

}

.container .third-form-content h2 {
    text-align: center;
    font-size: 40px;
}

.container .third-form-content .button-group {
    border: 1px solid rgb(223, 218, 218);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    /* background-color: black; */
    margin: 30px auto;
    padding: 0;


}

.container .third-form-content .button-group button {
    width: 49%;
    height: 100%;
    font-weight: 800;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.container .third-form-content .button-group button:first-child {
    background: linear-gradient(to right, rgb(87, 20, 45), rgb(185, 37, 128), rgb(220, 20, 130));
    color: white;

}

.container .third-form-content form .third-input-group {
    margin-top: 15px;
}

.container .third-form-content form .third-input-group input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgb(223, 218, 218);
}

.container .third-form-content form a {
    color: crimson;
    margin-top: 5px;
}

.third-form-content form button {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(104, 4, 41), rgb(185, 37, 128), rgb(220, 20, 130));
    border-radius: 5px;
    border: none;
    margin: 25px 0;
    color: white;
    font-weight: 800;
}

.third-form-content form p {
    text-align: center;
}

.fourth-form-content {
    background-color: white;
    width: 40%;
    padding: 15px;
}

.fourth-form-content h2 {
    text-align: center;
    font-size: 40px;
}

.fourth-form-content form .fourth-input-group {
    margin: 20px 0;
}

.fourth-form-content form input {
    border: none;
    padding: 10px;
    border-bottom: 1px solid rgb(223, 218, 218);
    width: 49%;
    display: inline-block;
}

.fourth-form-content form input:focus, .fourth-form-content form textarea:focus {
    border-bottom: 1px solid #ff9e00;
    outline: none;
}

.fourth-form-content form textarea {
    border: none;
    border-bottom: 1px solid rgb(223, 218, 218);
    width: 100%;
}

.fourth-form-content form button {
    display: block;
    width: 50%;
    height: 40px;
    margin: auto;
    background-color: #ff9e00;
    border: none;
    color: black;
    border-radius: 8px;
    font-weight: 800;
}